<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <p><strong>Horario:</strong> Lunes a sábados de 10 a.m. a 4p.m. Domingos cerrados.</p>
    <p><strong>Teléfono:</strong> +506 2222 2222</p>
    <p><strong>Correo electrónico:</strong> <a href="mailto:patitasfelices@gmail.com">patitasfelices@gmail.com</a></p>
    <p><strong>Redes sociales:</strong> [Link to social media]</p>
    <p>¿Deseas que nosotros te contactemos? ¡Llena un formulario de contacto!</p>
    <form>
        
    </form>
</body>
</html>